

div{
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px;
  width: 200px;
  height: 400px;
}


img{
  padding:20px;
}


#DansSection{
  border-radius: 25px;
  border: 2px solid #D3D3D3;
  padding: 0px;
  width: 200px;
  height: 200px;
  background-color: #D3D3D3;
}
