h2{
  color:white;
}
header{
  background-color: black;
  margin: 50;
  padding: 50;
}

header img{
  width:25%
}

#un_film{
  border-radius: 30px;
  border-style: solid;
  border-color: black;
}

#un_film{
  background-color: orange;
}
footer li img{
  width:3%;
}

footer li {
  display: inline ;
  margin-right: 1px ;
}

footer div{
  text-align: center
}

footer p{
  color: white;
}


footer{
  background-color: black;
   bottom: 0;
 }

a{
  color:white;
}

#navigation {
  margin: 50 ;
  padding: 50 ;
  list-style: none ;
  text-align: center ;
}

#navigation li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #3399ff ;
}

#navigation li a {
  padding: 4px 20px ;
  background: #33b5ff ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #33b5ff ;
  text-decoration: underline ;
}

video{
	width: 500px;
}

/* Bouton valider */
#searchthis #search-btn {
 background-color: #33b5ff;   /* Couleur de fond */
 border-style: solid;   /* Style de la bordure  */
 border-width: 1px;   /* Epaisseur de la bordure  */
 border-color: #33b5ff;   /* Couleur de la bordure  */
 padding: 5px 10px 5px 10px;   /* Espace entre les bords et le contenu : haut droite bas gauche  */
 width: 15%;   /* Permet d'ajuster la largeur du bouton à 100% */
 box-sizing: 60px ;   /* Important */
 font-family: PT sans;   /* Police du texte */
 font-size: 13px;   /* Taille de la police du texte */
 font-weight: normal;   /* Graisse du texte : normal = normal ; bold = gras */
 letter-spacing: 2px;   /* Espacement des caractères */
 margin: 10px 0 0 0;   /* Espace autour du bouton : haut droite bas gauche  */
 text-transform: uppercase;   /* Transforme le texte en majuscules */
 color: #ffffff;   /* Couleur du texte */
}

.card{
  flex: 1;
  flex-basis: 20%;
  margin: 1em;
  weight:20vw;
}

.row{
  display: flex;
  flex-wrap: wrap;
}
